<div class="container">
            <div class="col-lg-12 text-center">
              <ul class="list-inline favor-icon">
                <li><a href="<%= url_for :controller => 'mailbox', :action => 'inbox' %>"><i class="fa fa-envelope"></i></a>
                </li>
                <li><a href="<%= url_for :controller => 'appviews', :action => 'issue_tracker' %>"><i class="fa fa-bell"></i></a>
                </li>
                <li><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>"><i class="fa fa-user"></i></a>
                </li>
              </ul>
            </div>
</div>

<div class="col-lg-12 text-center logo">

  AFIS

  </div>

<div class="col-lg-12 text-center favor-link">
   <ul class="list-inline">
      <li><a href="<%= url_for :controller => 'dashboards', :action => 'overview' %>">DASHBOARD</a></li>
      <li><a href="<%= url_for :controller => 'pages', :action => 'inspections' %>">INSPECTIONS</a></li>
      <li><a href="<%= url_for :controller => 'pages', :action => 'checklists' %>">CHECKLISTS</a></li>
      <li><a href="<%= url_for :controller => 'miscellaneous', :action => 'forum_view' %>">FORUM</a></li>
   </ul>
</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('body').addClass('landing-page');
    $('body').attr('id', 'page-top');


});

</script>

<% end %>
