<div class="wrapper wrapper-content">

  <div class="row">
    <div class="col-lg-8">
      <div class="ibox float-e-margins">
        <div class="ibox-content">

          <div class="m-t-sm">

            <div class="row">
              <div class="col-md-12">

                  <div id="container-map" style="height: 500px;"></div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4" style="padding-bottom: 21px">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h3>Program Status</h3>
        </div>
        <div class="ibox-content" style="clear:left; float:left; width: 50%;">
          <div id="container-ccip" style="height: 125px;"></div>
        </div>
        <div class="ibox-content" style="clear:right; float:left; width: 50%;">
          <div id="container-sip" style="height: 125px;"></div>
        </div>

      </div>
    </div>


    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-title">
          <h3>Checklists</h3>
        </div>
        <div class="ibox-content" style="clear:left; float:left; width: 50%;">
          <div id="container-checklist" style="height: 215px;"></div>
        </div>
        <div class="ibox-content" style="clear:right; float:left; width: 50%;">
          <div id="container-completion" style="height: 215px;"></div>
        </div>

      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Inspections </h5>

        </div>
        <div class="ibox-content">

          <div class="row">
            <div class="col-lg-12">
              <div class="tabs-container">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#tab-1"> Wing-Wide</a></li>
                  <li class=""><a data-toggle="tab" href="#tab-2">By-Law</a></li>
                  <li class=""><a data-toggle="tab" href="#tab-3">Exercises</a></li>
                  <li class=""><a data-toggle="tab" href="#tab-4">Unit</a></li>
                </ul>
                <div class="tab-content">
                  <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="footable table table-stripped table-bordered table-hover">
                          <thead>
                          <tr>
                            <th class="footable-sorted-desc">Program</th>
                            <th>Status</th>
                            <th class="footable-sorted-desc">Deficiencies</th>
                            <th class="footable-sorted-desc">Inspection Date</th>
                            <th>Program Manager</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr>
                            <td>Training</td>
                            <td><span class="label label-primary">Outstanding</span></td>
                            <td>8</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Adam Smith</a></td>
                          </tr>

                          <tr>
                            <td>DRRS</td>
                            <td><span class="label label-primary">Highly Effective</span></td>
                            <td>4</td>
                            <td>3/2/2014</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Mary Jones</a></td>
                          </tr>

                          <tr>
                            <td>Fitness</td>
                            <td><span class="label label-primary">Effective</span></td>
                            <td>4</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Adam Smith</a></td>
                          </tr>

                          <tr>
                            <td>DTS</td>
                            <td><span class="label label-warning">Marginally Effective</span></td>
                            <td>2</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">John Smith</a></td>
                          </tr>

                          <tr>
                            <td>SORTS</td>
                            <td><span class="label label-danger">Ineffective</span></td>
                            <td>0</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Mary Williams</a></td>
                          </tr>
                         </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="footable table table-striped table-bordered table-hover">
                          <thead>
                          <tr>

                            <th class="footable-sorted-desc">Program</th>
                            <th>Status</th>
                            <th class="footable-sorted-desc">Deficiencies</th>
                            <th class="footable-sorted-desc">Inspection Date</th>
                            <th>Program Manager</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr>
                            <td>Suicide Prevention</td>
                            <td><span class="label label-danger">Non Compliant</span></td>
                            <td>8</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Adam Smith</a></td>
                          </tr>

                          <tr>
                            <td>Sexual Assault Prevention</td>
                            <td><span class="label label-warning">Comply with Comments</span></td>
                            <td>4</td>
                            <td>3/2/2014</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Mary Jones</a></td>
                          </tr>

                          <tr>
                            <td>Trafficking Persons</td>
                            <td><span class="label-primary">Compliant</span></td>
                            <td>4</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Adam Smith</a></td>
                          </tr>

                          <tr>
                            <td>Voting Assistance</td>
                            <td><span class="label label-primary">Compliant</span></td>
                            <td>2</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">John Smith</a></td>
                          </tr>

                          <tr>
                            <td>Privacy Act</td>
                            <td><span class="label label-primary">Compliant</span></td>
                            <td>0</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Joana Ivy</a></td>
                          </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div id="tab-3" class="tab-pane">
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="footable table table-striped table-bordered table-hover">
                          <thead>
                          <tr>

                            <th>Exercise</th>
                            <th>Grade</th>
                            <th class="footable-sorted-desc">Deficiencies</th>
                            <th class="footable-sorted-desc">Recommended Improvements</th>
                            <th class="footable-sorted-desc">Exercise Date</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr>
                            <td>Earthquake Exercise</td>
                            <td><span class="label label-primary">Outstanding</span></td>
                            <td>8</td>
                            <td>15</td>
                            <td>1/1/2015</td>
                          </tr>

                          <tr>
                            <td>CBRN Exercise</td>
                            <td><span class="label label-primary">Highly Effective</span></td>
                            <td>3</td>
                            <td>5</td>
                            <td>1/1/2015</td>
                          </tr>

                          <tr>
                            <td>Active Shooter TTX Exercise</td>
                            <td><span class="label label-primary">Effective</span></td>
                            <td>8</td>
                            <td>2</td>
                            <td>1/1/2015</td>
                          </tr>

                          <tr>
                            <td>Civil Engineering FTX Exercise</td>
                            <td><span class="label label-warning">Marginally Effective</span></td>
                            <td>4</td>
                            <td>1</td>
                            <td>1/1/2015</td>
                          </tr>

                          <tr>
                            <td>SCLA Security Forces Exercises</td>
                            <td><span class="label label-danger">Ineffective</span></td>
                            <td>3</td>
                            <td>0</td>
                            <td>1/1/2015</td>
                          </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div id="tab-4" class="tab-pane">
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="footable table table-striped table-bordered table-hover">
                          <thead>
                          <tr>

                            <th>Unit</th>
                            <th>Grade</th>
                            <th class="footable-sorted-desc">Deficiencies</th>
                            <th class="footable-sorted-desc">Inspection Date</th>
                            <th>Self-Assessment Program Manager</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr>
                            <td>163 CF Communications Inspection</td>
                            <td><span class="label label-primary">Outstanding</span></td>
                            <td>8</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Joana Ivy</a></td>
                          </tr>

                          <tr>
                            <td>163 OG CII Training Inspection</td>
                            <td><span class="label label-primary">Highly Effective</span></td>
                            <td>4</td>
                            <td>3/2/2014</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Alex Williams</a></td>
                          </tr>

                          <tr>
                            <td>163 MXG Conversation Inspection</td>
                            <td><span class="label label-primary">Effective</span></td>
                            <td>4</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Harry Adams</a></td>
                          </tr>

                          <tr>
                            <td>147 CBCS SATCOM Inspection</td>
                            <td><span class="label label-warning">Marginally Effective</span></td>
                            <td>2</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Adam Smith</a></td>
                          </tr>

                          <tr>
                            <td>160 AS Intel Oversight Inspection</td>
                            <td><span class="label label-danger">Ineffective</span></td>
                            <td>0</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Joana Ivy</a></td>
                          </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>


              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>


</div>

<% content_for :javascript do %>

    <script type="text/javascript">
      $(function () {

        /*
         TODO:
         - Check data labels after drilling. Label rank? New positions?
         - Not US Mainland text
         - Separators
         */

        var data = Highcharts.geojson(Highcharts.maps['countries/us/us-all']),
        // Some responsiveness
            small = $('#container-map').width() < 400;

        // Set drilldown pointers
        $.each(data, function (i) {
          this.drilldown = this.properties['hc-key'];
          this.value = i; // Non-random bogus data
        });

        // Instanciate the map
        $('#container-map').highcharts('Map', {
          chart : {
            events: {
              drilldown: function (e) {

                if (!e.seriesOptions) {
                  var chart = this,
                      mapKey = 'countries/us/' + e.point.drilldown + '-all',
                  // Handle error, the timeout is cleared on success
                      fail = setTimeout(function () {
                        if (!Highcharts.maps[mapKey]) {
                          chart.showLoading('<i class="icon-frown"></i> Failed loading ' + e.point.name);

                          fail = setTimeout(function () {
                            chart.hideLoading();
                          }, 1000);
                        }
                      }, 3000);

                  // Show the spinner
                  chart.showLoading('<i class="icon-spinner icon-spin icon-3x"></i>'); // Font Awesome spinner

                  // Load the drilldown map
                  $.getScript('https://code.highcharts.com/mapdata/' + mapKey + '.js', function () {

                    data = Highcharts.geojson(Highcharts.maps[mapKey]);

                    // Set a non-random bogus value
                    $.each(data, function (i) {
                      this.value = i;
                    });

                    // Hide loading and add series
                    chart.hideLoading();
                    clearTimeout(fail);
                    if(e.point.name == "California") {
                      chart.addSeriesAsDrilldown(e.point, {
                        // Use the gb-all map with no data as a basemap
                          data: data,
                          name: e.point.name,
                          dataLabels: {
                            enabled: true,
                            format: '{point.name}'
                          }
                      });
                    }else{
                      chart.addSeriesAsDrilldown(e.point, {
                        name: e.point.name,
                        data: data
                      });
                    }
                  });
                }

                this.setTitle(null, { text: e.point.name });
              },
              drillup: function () {
                this.setTitle(null, { text: '' });
              }
            }
          },

          title : {
            text : ''
          },

          subtitle: {
            text: '',
            floating: true,
            align: 'right',
            y: 50,
            style: {
              fontSize: '16px'
            }
          },

          legend: small ? {} : {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
          },

          mapNavigation: {
            enabled: true,
            buttonOptions: {
              verticalAlign: 'bottom'
            }
          },

          plotOptions: {
            map: {
              states: {
                hover: {
                  color: '#EEDD66'
                }
              }
            }
          },

         series: [{
            type: 'map',
            data : data,
            name: 'USA',
            color: '#D3D3D3',
            dataLabels: {
              enabled: true,
              format: '{point.properties.postal-code}'
            }
          }],

          drilldown:  {
           activeDataLabelStyle: {
              color: '#FFFFFF',
              textDecoration: 'none',
              textShadow: '0 0 3px #000000'
            },
           drillUpButton: {
              relativeTo: 'spacingBox',
              position: {
                x: 0,
                y: 60
              }
            }
          }
        });

        $('.footable').footable();
        $('.footable2').footable();

      });

        var colors = Highcharts.getOptions().colors,
            categories = ['Compliance'],
            checkdata = [{
              y: 56.33,
              color: colors[0],
              drilldown: {
                name: 'Compliance',
                categories: ['', '', ''],
                data: [70, 10, 20],
                color: colors[0]
              }
            }],
            versionsData = [],
            i,
            j,
            dataLen = checkdata.length,
            drillDataLen,
            brightness;


        // Build the data arrays
        for (i = 0; i < dataLen; i += 1) {

        // add version data
          drillDataLen = checkdata[i].drilldown.data.length;
          for (j = 0; j < drillDataLen; j += 1) {
            brightness = 0.2 - (j / drillDataLen) / 5;
            versionsData.push({
              name: checkdata[i].drilldown.categories[j],
              y: checkdata[i].drilldown.data[j],
              color: Highcharts.Color(checkdata[i].color).brighten(brightness).get()
            });
          }
        }

        // Create the chart
        $('#container-checklist').highcharts({
          chart: {
            type: 'pie',
            renderTo: 'container-checklist',
          },
          title: {
            text: ''
          },
          subtitle: {
            text: 'Compliance',
            align: 'top'
          },
          tooltip: {
            enabled: false
          },
          plotOptions: {
            pie: {
              shadow: false,
              center: ['50%', '50%'],
              dataLabels: {
                enabled: false
              }
            }
          },

          series: [{
            name: 'Compliance',
            data: versionsData,
            size: '140%',
            innerSize: '60%',
          }]
        });

      $('#container-completion').highcharts({
        chart: {
          type: 'pie',
          renderTo: 'container-completion',
        },
        title: {
          text: ''
        },
        subtitle: {
          text: 'Completion',
          align: 'top'
        },
        tooltip: {
          enabled: false
        },
        plotOptions: {
          pie: {
            shadow: false,
            center: ['50%', '50%'],
            dataLabels: {
              enabled: false
            }
          }
        },

        series: [{
          name: 'Completion',
          data: versionsData,
          size: '140%',
          innerSize: '60%',
        }]
      });

      var gaugeOptions = {

        chart: {
          type: 'solidgauge'
        },

        title: null,

        pane: {
          center: ['50%', '85%'],
          size: '170%',
          startAngle: -90,
          endAngle: 90,
          background: {
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
            innerRadius: '60%',
            outerRadius: '100%',
            shape: 'arc'
          }
        },

        tooltip: {
          enabled: false
        },

        // the value axis
        yAxis: {
          stops: [
            [0.1, '#55BF3B'], // green
            [0.5, '#DDDF0D'], // yellow
            [0.9, '#DF5353'] // red
          ],
          lineWidth: 0,
          minorTickInterval: null,
          tickPixelInterval: 400,
          tickWidth: 0,
          title: {
            y: -70
          },
          labels: {
            y: 16
          }
        },

        plotOptions: {
          solidgauge: {
            dataLabels: {
              y: 20,
              borderWidth: 0,
              useHTML: true
            }
          }
        }
      };

      // The speed gauge
      $('#container-ccip').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
          min: 0,
          max: 100,
          title: {
            text: 'CCIP'
          }
        },

        credits: {
          enabled: false
        },

        series: [{
          name: 'CCIP',
          data: [40],
          dataLabels: {
            format: '<div style="text-align:center"><span style="font-size:25px;color:' +
            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
            '<span style="font-size:12px;color:silver">Effective</span></div>'
          },
          tooltip: {
            valueSuffix: ' %'
          }
        }]

      }));

      // The RPM gauge
      $('#container-sip').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
          min: 0,
          max: 100,
          title: {
            text: 'SIP'
          }
        },

        series: [{
          name: 'SIP',
          data: [20],
          dataLabels: {
            format: '<div style="text-align:center"><span style="font-size:25px;color:' +
            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
            '<span style="font-size:12px;color:silver">Low Risk</span></div>'
          },
          tooltip: {
            valueSuffix: ' %'
          }
        }]

      }));

      // Bring life to the dials
      setTimeout(function () {
        // Speed
        var chart = $('#container-ccip').highcharts(),
            point,
            newVal,
            inc;

        if (chart) {
          point = chart.series[0].points[0];
          inc = Math.round((Math.random() - 0.5) * 100);
          newVal = point.y + inc;

          if (newVal < 0 || newVal > 200) {
            newVal = point.y - inc;
          }

          point.update(newVal);
        }

        // RPM
        chart = $('#container-sip').highcharts();
        if (chart) {
          point = chart.series[0].points[0];
          inc = Math.random() - 0.5;
          newVal = point.y + inc;

          if (newVal < 0 || newVal > 5) {
            newVal = point.y - inc;
          }

          point.update(newVal);
        }
      }, 2000);

    </script>

<% end %>