<div class="wrapper wrapper-content">

  <div class="row">
    <div class="col-lg-8">
      <div class="ibox float-e-margins">
        <div class="ibox-content">

          <div class="m-t-sm">

            <div class="row">
              <div class="col-md-12">

                  <div id="container-map" style="height: 500px;"></div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h3>Program Status</h3>
        </div>
        <div class="ibox-content">
          <div style="height: 120px;">

          </div>
        </div>

      </div>
    </div>


    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h3>Checklists</h3>
          <small>
            Completion v. Compliance
          </small>
        </div>
        <div class="ibox-content">

          <div id="container-checklist" style="height: 200px;"></div>

        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Inspections </h5>

        </div>
        <div class="ibox-content">

          <div class="row">
            <div class="col-lg-12">
              <div class="tabs-container">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#tab-1"> Wing-Wide</a></li>
                  <li class=""><a data-toggle="tab" href="#tab-2">By-Law</a></li>
                  <li class=""><a data-toggle="tab" href="#tab-3">Exercises</a></li>
                  <li class=""><a data-toggle="tab" href="#tab-4">Unit</a></li>
                </ul>
                <div class="tab-content">
                  <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="footable table table-stripped table-bordered table-hover">
                          <thead>
                          <tr>
                            <th class="footable-sorted-desc">Program</th>
                            <th>Status</th>
                            <th class="footable-sorted-desc">Deficiencies</th>
                            <th class="footable-sorted-desc">Inspection Date</th>
                            <th>Program Manager</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr>
                            <td>Training</td>
                            <td><span class="label label-primary">Outstanding</span></td>
                            <td>8</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Adam Smith</a></td>
                          </tr>

                          <tr>
                            <td>DRRS</td>
                            <td><span class="label label-primary">Highly Effective</span></td>
                            <td>4</td>
                            <td>3/2/2014</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Mary Jones</a></td>
                          </tr>

                          <tr>
                            <td>Fitness</td>
                            <td><span class="label label-primary">Effective</span></td>
                            <td>4</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Adam Smith</a></td>
                          </tr>

                          <tr>
                            <td>DTS</td>
                            <td><span class="label label-warning">Marginally Effective</span></td>
                            <td>2</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">John Smith</a></td>
                          </tr>

                          <tr>
                            <td>SORTS</td>
                            <td><span class="label label-danger">Ineffective</span></td>
                            <td>0</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Mary Williams</a></td>
                          </tr>
                         </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="footable table table-striped table-bordered table-hover">
                          <thead>
                          <tr>

                            <th class="footable-sorted-desc">Program</th>
                            <th>Status</th>
                            <th class="footable-sorted-desc">Deficiencies</th>
                            <th class="footable-sorted-desc">Inspection Date</th>
                            <th>Program Manager</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr>
                            <td>Suicide Prevention</td>
                            <td><span class="label label-danger">Non Compliant</span></td>
                            <td>8</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Adam Smith</a></td>
                          </tr>

                          <tr>
                            <td>Sexual Assault Prevention</td>
                            <td><span class="label label-warning">Comply with Comments</span></td>
                            <td>4</td>
                            <td>3/2/2014</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Mary Jones</a></td>
                          </tr>

                          <tr>
                            <td>Trafficking Persons</td>
                            <td><span class="label-primary">Compliant</span></td>
                            <td>4</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Adam Smith</a></td>
                          </tr>

                          <tr>
                            <td>Voting Assistance</td>
                            <td><span class="label label-primary">Compliant</span></td>
                            <td>2</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">John Smith</a></td>
                          </tr>

                          <tr>
                            <td>Privacy Act</td>
                            <td><span class="label label-primary">Compliant</span></td>
                            <td>0</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Joana Ivy</a></td>
                          </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div id="tab-3" class="tab-pane">
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="footable table table-striped table-bordered table-hover">
                          <thead>
                          <tr>

                            <th>Exercise</th>
                            <th>Grade</th>
                            <th class="footable-sorted-desc">Deficiencies</th>
                            <th class="footable-sorted-desc">Recommended Improvements</th>
                            <th class="footable-sorted-desc">Exercise Date</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr>
                            <td>Earthquake Exercise</td>
                            <td><span class="label label-primary">Outstanding</span></td>
                            <td>8</td>
                            <td>15</td>
                            <td>1/1/2015</td>
                          </tr>

                          <tr>
                            <td>CBRN Exercise</td>
                            <td><span class="label label-primary">Highly Effective</span></td>
                            <td>3</td>
                            <td>5</td>
                            <td>1/1/2015</td>
                          </tr>

                          <tr>
                            <td>Active Shooter TTX Exercise</td>
                            <td><span class="label label-primary">Effective</span></td>
                            <td>8</td>
                            <td>2</td>
                            <td>1/1/2015</td>
                          </tr>

                          <tr>
                            <td>Civil Engineering FTX Exercise</td>
                            <td><span class="label label-warning">Marginally Effective</span></td>
                            <td>4</td>
                            <td>1</td>
                            <td>1/1/2015</td>
                          </tr>

                          <tr>
                            <td>SCLA Security Forces Exercises</td>
                            <td><span class="label label-danger">Ineffective</span></td>
                            <td>3</td>
                            <td>0</td>
                            <td>1/1/2015</td>
                          </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div id="tab-4" class="tab-pane">
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="footable table table-striped table-bordered table-hover">
                          <thead>
                          <tr>

                            <th>Unit</th>
                            <th>Grade</th>
                            <th class="footable-sorted-desc">Deficiencies</th>
                            <th class="footable-sorted-desc">Inspection Date</th>
                            <th>Self-Assessment Program Manager</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr>
                            <td>163 CF Communications Inspection</td>
                            <td><span class="label label-primary">Outstanding</span></td>
                            <td>8</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Joana Ivy</a></td>
                          </tr>

                          <tr>
                            <td>163 OG CII Training Inspection</td>
                            <td><span class="label label-primary">Highly Effective</span></td>
                            <td>4</td>
                            <td>3/2/2014</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Alex Williams</a></td>
                          </tr>

                          <tr>
                            <td>163 MXG Conversation Inspection</td>
                            <td><span class="label label-primary">Effective</span></td>
                            <td>4</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Harry Adams</a></td>
                          </tr>

                          <tr>
                            <td>147 CBCS SATCOM Inspection</td>
                            <td><span class="label label-warning">Marginally Effective</span></td>
                            <td>2</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Adam Smith</a></td>
                          </tr>

                          <tr>
                            <td>160 AS Intel Oversight Inspection</td>
                            <td><span class="label label-danger">Ineffective</span></td>
                            <td>0</td>
                            <td>1/1/2015</td>
                            <td><a href="<%= url_for :controller => 'appviews', :action => 'profile_two' %>">Joana Ivy</a></td>
                          </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>


              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>


</div>

<% content_for :javascript do %>

    <script type="text/javascript">
      $(function () {

        /*
         TODO:
         - Check data labels after drilling. Label rank? New positions?
         - Not US Mainland text
         - Separators
         */

        var data = Highcharts.geojson(Highcharts.maps['countries/us/us-all']),
        // Some responsiveness
            small = $('#container-map').width() < 400;

        // Set drilldown pointers
        $.each(data, function (i) {
          this.drilldown = this.properties['hc-key'];
          this.value = i; // Non-random bogus data
        });

        // Instanciate the map
        $('#container-map').highcharts('Map', {
          chart : {
            events: {
              drilldown: function (e) {

                if (!e.seriesOptions) {
                  var chart = this,
                      mapKey = 'countries/us/' + e.point.drilldown + '-all',
                  // Handle error, the timeout is cleared on success
                      fail = setTimeout(function () {
                        if (!Highcharts.maps[mapKey]) {
                          chart.showLoading('<i class="icon-frown"></i> Failed loading ' + e.point.name);

                          fail = setTimeout(function () {
                            chart.hideLoading();
                          }, 1000);
                        }
                      }, 3000);

                  // Show the spinner
                  chart.showLoading('<i class="icon-spinner icon-spin icon-3x"></i>'); // Font Awesome spinner

                  // Load the drilldown map
                  $.getScript('https://code.highcharts.com/mapdata/' + mapKey + '.js', function () {

                    data = Highcharts.geojson(Highcharts.maps[mapKey]);

                    // Set a non-random bogus value
                    $.each(data, function (i) {
                      this.value = i;
                    });

                    // Hide loading and add series
                    chart.hideLoading();
                    clearTimeout(fail);
                    if(e.point.name == "California") {
                      chart.addSeriesAsDrilldown(e.point, {
                        // Use the gb-all map with no data as a basemap
                          data: data,
                          name: e.point.name,
                          dataLabels: {
                            enabled: true,
                            format: '{point.name}'
                          }
                      });
                    }else{
                      chart.addSeriesAsDrilldown(e.point, {
                        name: e.point.name,
                        data: data
                      });
                    }
                  });
                }

                this.setTitle(null, { text: e.point.name });
              },
              drillup: function () {
                this.setTitle(null, { text: '' });
              }
            }
          },

          title : {
            text : ''
          },

          subtitle: {
            text: '',
            floating: true,
            align: 'right',
            y: 50,
            style: {
              fontSize: '16px'
            }
          },

          legend: small ? {} : {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
          },

          mapNavigation: {
            enabled: true,
            buttonOptions: {
              verticalAlign: 'bottom'
            }
          },

          plotOptions: {
            map: {
              states: {
                hover: {
                  color: '#EEDD66'
                }
              }
            }
          },

         series: [{
            type: 'map',
            data : data,
            name: 'USA',
            color: '#D3D3D3',
            dataLabels: {
              enabled: true,
              format: '{point.properties.postal-code}'
            }
          }],

          drilldown:  {
           activeDataLabelStyle: {
              color: '#FFFFFF',
              textDecoration: 'none',
              textShadow: '0 0 3px #000000'
            },
           drillUpButton: {
              relativeTo: 'spacingBox',
              position: {
                x: 0,
                y: 60
              }
            }
          }
        });

        $('.footable').footable();
        $('.footable2').footable();

      });
/*
        var colors = Highcharts.getOptions().colors,
            categories = ['MSIE', 'Firefox', 'Chrome', 'Safari', 'Opera'],
            checkdata = [{
              y: 56.33,
              color: colors[0],
              drilldown: {
                name: 'MSIE versions',
                categories: ['MSIE 6.0', 'MSIE 7.0', 'MSIE 8.0', 'MSIE 9.0', 'MSIE 10.0', 'MSIE 11.0'],
                data: [1.06, 0.5, 17.2, 8.11, 5.33, 24.13],
                color: colors[0]
              }
            }, {
              y: 10.38,
              color: colors[1],
              drilldown: {
                name: 'Firefox versions',
                categories: ['Firefox v31', 'Firefox v32', 'Firefox v33', 'Firefox v35', 'Firefox v36', 'Firefox v37', 'Firefox v38'],
                data: [0.33, 0.15, 0.22, 1.27, 2.76, 2.32, 2.31, 1.02],
                color: colors[1]
              }
            }, {
              y: 24.03,
              color: colors[2],
              drilldown: {
                name: 'Chrome versions',
                categories: ['Chrome v30.0', 'Chrome v31.0', 'Chrome v32.0', 'Chrome v33.0', 'Chrome v34.0',
                  'Chrome v35.0', 'Chrome v36.0', 'Chrome v37.0', 'Chrome v38.0', 'Chrome v39.0', 'Chrome v40.0', 'Chrome v41.0', 'Chrome v42.0', 'Chrome v43.0'
                ],
                data: [0.14, 1.24, 0.55, 0.19, 0.14, 0.85, 2.53, 0.38, 0.6, 2.96, 5, 4.32, 3.68, 1.45],
                color: colors[2]
              }
            }, {
              y: 4.77,
              color: colors[3],
              drilldown: {
                name: 'Safari versions',
                categories: ['Safari v5.0', 'Safari v5.1', 'Safari v6.1', 'Safari v6.2', 'Safari v7.0', 'Safari v7.1', 'Safari v8.0'],
                data: [0.3, 0.42, 0.29, 0.17, 0.26, 0.77, 2.56],
                color: colors[3]
              }
            }, {
              y: 0.91,
              color: colors[4],
              drilldown: {
                name: 'Opera versions',
                categories: ['Opera v12.x', 'Opera v27', 'Opera v28', 'Opera v29'],
                data: [0.34, 0.17, 0.24, 0.16],
                color: colors[4]
              }
            }, {
              y: 0.2,
              color: colors[5],
              drilldown: {
                name: 'Proprietary or Undetectable',
                categories: [],
                data: [],
                color: colors[5]
              }
            }],
            browserData = [],
            versionsData = [],
            i,
            j,
            dataLen = checkdata.length,
            drillDataLen,
            brightness;


        // Build the data arrays
        for (i = 0; i < dataLen; i += 1) {

          // add browser data
          browserData.push({
            name: categories[i],
            y: checkdata[i].y,
            color: checkdata[i].color
          });

          // add version data
          drillDataLen = checkdata[i].drilldown.data.length;
          for (j = 0; j < drillDataLen; j += 1) {
            brightness = 0.2 - (j / drillDataLen) / 5;
            versionsData.push({
              name: checkdata[i].drilldown.categories[j],
              y: checkdata[i].drilldown.data[j],
              color: Highcharts.Color(checkdata[i].color).brighten(brightness).get()
            });
          }
        }

        // Create the chart
        $('#container-checklist').highcharts({
          chart: {
            type: 'pie',
            renderTo: 'container-checklist'
          },
          title: {
            text: 'Browser market share, January, 2015 to May, 2015'
          },
          subtitle: {
            text: ''
          },
          yAxis: {
            title: {
              text: 'Total percent market share'
            }
          },
          plotOptions: {
            pie: {
              shadow: false,
              center: ['50%', '50%']
            }
          },
          tooltip: {
            valueSuffix: '%'
          },
          series: [{
            name: 'Browsers',
            data: browserData,
            size: '60%',
            dataLabels: {
              formatter: function () {
                return this.y > 5 ? this.point.name : null;
              },
              color: '#ffffff',
              distance: -30
            }
          }, {
            name: 'Versions',
            data: versionsData,
            size: '80%',
            innerSize: '60%',
            dataLabels: {
              formatter: function () {
                // display only if larger than 1
                return this.y > 1 ? '<b>' + this.point.name + ':</b> ' + this.y + '%' : null;
              }
            }
          }]
        });

      });
*/
    </script>

<% end %>