<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
              <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poiret One">
              <div class="profile-element">
              <span class="clear">
                <span class="logo-element">AFIS</span>
                <span class="text-muted text-xs block">Air Force Inspection System</span>
              </span>
              </div>
            </li>
          <li class="<%= is_active_controller('afis') %>">
            <a href=""><i class="fa fa-plane"></i> <span class="nav-label">AFIS</span></a>
          </li>
            <li class="<%= is_active_controller('dashboards') %>">
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('dashboards') %>">
                    <li class="<%= is_active_action('dashboard_4_1') %>"><%= link_to "Overview", dashboards_dashboard_4_1_path %></li>
                    <li class="<%= is_active_action('dashboard_2') %>"><%= link_to "Inspections", dashboards_dashboard_2_path %></li>
                    <li class="<%= is_active_action('dashboard_3') %>"><%= link_to "Checklists", dashboards_dashboard_3_path %></li>
                    <li class="<%= is_active_action('dashboard_4_1') %>"><%= link_to "Risk Assessment", dashboards_dashboard_4_1_path %></li>
                    <li class="<%= is_active_action('dashboard_5') %>"><%= link_to "CIMB", dashboards_dashboard_5_path %></li>
                    <li>
                      <a href="#">Analysis<span class="fa arrow"></span></a>
                      <ul class="nav nav-third-level">
                        <li>
                          <a href="#">Deficiency Flow</a>
                        </li>
                        <li>
                          <a href="#">Root Cause</a>
                        </li>
                        <li>
                          <a href="#">Major Graded Areas</a>
                        </li>
                      </ul>
                    </li>
                </ul>
            </li>

            <li>
              <a href="#"><i class="fa fa-desktop"></i><span class="nav-label">Inspection</span></a>
            </li>

            <li>
              <a href="#"><i class="fa fa-list"></i><span class="nav-label">Checklist</span></a>
            </li>

            <li class="<%=is_active_controller('forum') %>">
              <%= link_to miscellaneous_forum_view_path do %>
                <i class="fa fa-users"></i><span class="nav-label">Forum</span>
              <% end %>
            </li>

        </ul>
    </div>
</nav>